<%- contentFor('menu') %>
<li class="nav-item">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="/about">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
</li>

<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h1>Meus gatos</h1>
    <br>
    <div class="row">
        <% for (usuario of usuarios) { %>
            <div class="col-sm-4">
                <img class="img-responsive" style="height: 250px; border-radius: 250px;" src="<%= usuario.avatar %>">
                <h2><%= usuario.name %></h2>
                <code><%= usuario.email %></code>
            </div>
        <% } %>
    </div>
</div>